* {
  padding: 0;
  margin: 0;
}

.chart {
  width: 80%;
  height: 60%;
  margin: 0 auto;
  position: relative;
  min-width: 320px;
}

#weather_five {
  min-width: 320px;
  width: 40%;
  margin: auto;
}
